* {
	box-sizing: border-box;
}

body {
	font-family: poppins, sans-serif;
	line-height: 1.5;
}

.main-nav {
	display: flex;
	background: blue;
}

.main-nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.main-nav ul {
	display: flex;
}
.main-nav a {
	color: white;
}

ul {
	list-style-type: none;
}
.name {
	margin: 0;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.items {
	background: white;
	color: black;
}
