@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	font-size: 14px;
	color: black;
	background-color: #effffd;
}

.main-nav .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	margin-top: 40px;
}

ul {
	list-style-type: none;
}

li {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3px;
	padding: 10px 10px;
	width: 95vw;
}

.name {
	font-size: x-large;
	font-weight: bold;
	margin: 20px 20px;
}

.main-nav a {
	color: black;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-top: 40px;
}

.header .head-img {
	display: flex;
	width: 200px;
	height: 135px;
	background: url("../images/Florida2.jpg");
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

header p {
	text-align: center;
}

section .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

section p {
	text-align: center;
	padding: 20px;
}

.footer {
	text-align: center;
}

section img {
	width: 280px;
	height: 150px;
	margin: 20px 0 20px;
}

section .box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

section .item6 {
	margin-bottom: 35px;
}

footer h2 {
	padding: 55px 0 25px;
	font-size: 16px;
}

footer p {
	font-size: 16px;
	padding: 25px 18px;
}

.second .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.second a,
.name {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-size: 16px;
	width: 100%;
}
