* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	line-height: 1.5;
	font-size: 18px;
	color: rgb(96, 96, 96);
	background-color: #effffd;
}

.main-nav .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

ul {
	list-style-type: none;
}

.main-nav ul a {
	text-decoration: none;
	font-weight: 702;
	text-transform: uppercase;
	padding: 3px 0px;
	font-size: 16px;
	color: rgb(96, 96, 96);
}

.main-nav .name {
	font-size: 1.75rem;
	font-weight: 702;
	padding: 1.29rem 0px;
}

.main-nav li {
	margin: 6px;
	padding: 10px 10px;
}

.nav {
	margin-bottom: 55px;
}

.header img {
	max-width: 65%;
	height: auto;
	margin-bottom: 25px;
}

.header-item {
	text-align: center;
}

section {
	background-color: white;
	margin-top: 45px;
	padding-top: 45px;
	margin-bottom: 45px;
	padding-bottom: 50px;
}

.container h2 {
	text-transform: uppercase;
	font-weight: 702;
	font-size: 16px;
	padding-bottom: 30px;
}

section img {
	max-width: 95%;
	margin: 20px 0 20px;
}

section p {
	font-size: 17px;
	text-align: center;
	padding: 20px;
}

.contact-container h2 {
	font-weight: 702;
	text-transform: uppercase;
	padding: 15px 0 20px 0;
	font-size: 18px;
}

.contact-container p {
	font-size: 16px;
	padding: 5px 18px;
	margin-top: 14px;
}

.contact-container .p-number {
	padding: 25px 18px 5px;
	font-weight: 700;
}

.contact-container .email {
	padding: 10px 18px 25px;
	font-weight: 700;
}

.bottom-nav .bottom-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: solid lightgrey 1px;
	margin: 50px 10px 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.bottom-nav .name {
	font-size: 16px;
	font-weight: 702;
}

.bottom-nav a {
	text-decoration: none;
	font-weight: 702;
	font-size: 14px;
	text-transform: uppercase;
	color: rgb(96, 96, 96);
}

@media screen and (max-width: 768px) {
	.bottom-nav2 {
		display: none;
	}

	.main-nav li {
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3px;
		padding: 10px 10px;
		width: 95vw;
	}
}

@media screen and (max-width: 768px) {
	.bottom-nav2 {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	nav .nav {
		display: flex;
		flex-direction: row;
	}

	header .header-img {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 20px;
		margin-left: 20px;
	}

	.header img {
		order: 2;
	}

	.header img {
		width: 68%;
	}

	section {
		padding-left: 15px;
		padding-right: 15px;
	}

	section .boxes {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.box {
		flex: 50%;
	}

	.contact-container p {
		padding: 5px 18px;
		margin: 14px 115px 0px;
		font-size: 18px;
	}

	.bottom-nav {
		display: none;
	}

	.bottom-nav2 ul a {
		text-decoration: none;
		font-weight: 702;
		text-transform: uppercase;
		padding-left: 30px;
		font-size: 16px;
		color: rgb(96, 96, 96);
	}

	.bottom-nav2 .bottom-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: solid lightgrey 1px;
		margin: 50px 10px 0px;
		padding-top: 15px;
		padding-bottom: 50px;
	}

	.bottom-nav2 .list-nav {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 6px;
	}

	.bottom-nav2 .name {
		font-size: 16px;
		font-weight: 702;
	}
}

@media screen and (min-width: 1024px) {
	.main-nav .container {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		height: 100%;
		margin: 20px 28px 38px 44px;
	}

	.main-nav ul {
		display: flex;
	}

	.main-nav .name {
		padding: 0px;
		font-size: 21px;
	}

	.nav {
		height: 3.75rem;
		margin: 0px;
	}

	.main-nav ul a {
		font-size: 14px;
	}

	header .header-img {
		margin-left: 43px;
		margin-right: 43px;
		gap: 2rem;
	}

	section .boxes {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.box {
		flex: 33.33%;
	}

	.contact-container p {
		padding: 0px 145px;
	}

	.container h2 {
		font-size: 20px;
	}

	.bottom-nav2 .bottom-container {
		margin: 50px 40px 0px;
	}
}
