* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-header {
    background: blue;
    padding: 1em 0;

}

.name {
    margin: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.items {
    background: white;
    color: black;
}